.info {
    border: 1px solid #205529;
    border-radius: 5px;
    color: #205529;
    font-family: "Pontano Sans";
    font-size: 12px;
    font-weight: 500;
    padding: 3px 8px;
    background-color: #EAE7D9;
}

.h1 {
    font-family: "Instrument Serif";
    font-size: 56px;
    font-weight: 400;
    color: #205529;
    margin: 12px 0 20px;
}

.section {
    background-color: #EAE7D9;
    padding: 48px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2 {
    border: none;
    border-radius: 5px;
    color: #FAF2E6;
    font-family: "Pontano Sans";
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px;
    background-color: #205529;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.img {
    z-index: 1;
}