header {
    background-color: #FAF2E6;
    display: flex;
    flex-direction: column;
    max-width: 17vw;
    border: 1px solid rgba(32, 85, 41, 0.1);
}

li {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 24px;
    font-weight: 400;
}

.p {
    color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 12px;
}

.h1 {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    padding: 0 0 24px;
    max-width: 13vw;
}

.contact, .contact2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 1px solid rgba(32, 85, 41, 0.1);
}

.contact2 {
    height: 50vh;
}

.contact1 {
    background-color: #f3ede0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}