footer {
    background-color: #FAF2E6;
    border: 1px solid rgba(32, 85, 41, 0.1);
}

.footer {
    display: flex;
    padding: 48px 28px;
    border-bottom: 1px solid rgba(32, 85, 41, 0.1);
    background-color: #EAE7D9;
    justify-content: space-between;
}

.after_footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 28px;
    background-color: #E4E3D3;
}

li {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 24px;
    font-weight: 400;
}

.p {
    color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 12px;
}

.h1 {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
    max-width: 13vw;
}

.contact, .contact2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.contact1 {
    background-color: #f3ede0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.p1 {
    color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 14px;
    max-width: 17vw;
    margin: 16px 0 24px;
}

.li {
    display: flex;
    gap: 6px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 27vw;
}

.text {
    color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 12px;
}

.container1 {
    width: 27vw;
}