.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort {
    display: flex;
    align-items: center;
    gap: 6px;
}

.price {
    display: flex;
    gap: 6px;
    align-items: end;
}

.description {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.container1 {
border-radius: 10px;
    border: 1px solid rgba(32, 85, 41, 0.1);
    width: min-content;
    height: min-content;
    background-color: #F3EDE0;
    display: flex;
    flex-direction: column;
}

.h1 {
    font-family: "Instrument Serif";
    font-size: 36px;
    font-weight: 400;
    color: #205529;
    margin: 0 0 28px;
}

.h2 {
    font-family: "Instrument Serif";
    color: #205529;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
}

.img {
    border-radius: 0 0 10px 10px;
}

.sort {
color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 14px;
}

.span {
    font-weight: 700;
}

.name {
    color: #205529;
    font-family: "Pontano Sans";
    font-weight: 500;
    font-size: 14px;
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.after {
    color: #205529;
    font-family: "Instrument Serif";
    font-size: 24px;
    font-weight: 400;
}

.category {
    font-family: "Pontano Sans";
    font-size: 14px;
    font-weight: 500;
    color: #205529;
}

.container {
    display: flex;
    justify-content: space-between;
}

.products {
    padding: 48px 28px 56px;
    border-bottom: 1px solid rgba(32, 85, 41, 0.1);
}

.stars {
    display: flex;
    gap: 5px;
}