.info {
    border: 1px solid #FAF2E6;
    border-radius: 5px;
    color: #FAF2E6;
    font-family: "Pontano Sans";
    font-size: 12px;
    font-weight: 500;
    padding: 3px 8px;
    background-color: #205529;
}

.h1 {
    font-family: "Instrument Serif";
    font-size: 56px;
    font-weight: 400;
    color: #FAF2E6;
    margin: 12px 0 24px;
    text-align: center;
}

.section {
    background-color: #205529;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 28px 28px 0;
}

.h2 {
    border: none;
    border-radius: 5px;
    color: #205529;
    font-family: "Pontano Sans";
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px;
    background-color: #FAF2E6;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}